@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto";
  background-color: aquamarine;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 77%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapper .el {
  height: 450px;
  -ms-flex-preferred-size: 30.1%;
      flex-basis: 30.1%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  overflow: scroll;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #fff;
  min-width: 250px;
  align-items: center;
  margin: 10px;
}
.wrapper .el .el__title {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
}
.wrapper .el .el__text {
  padding: 10px 8px 0px 8px;
  font-size: 16px;
  color: #222121;
}
.wrapper .el .el__link {
  font-size: 18px;
  color: #222121;
  padding: 15px 10px;
  padding-bottom: 15px;
}
.wrapper .el .el__link a {
  color: #5c5c5c;
  display: inline-block;
  text-decoration: underline;
  font-weight: 700;
}
.wrapper .el__picture {
  width: 100%;
  max-height: 44%;
  overflow: hidden;
}
.wrapper .el__picture img {
  width: 100%;
}

.head {
  width: 100%;
  height: 30%;
  background-color: white;
  border-bottom-left-radius: 100px 50px;
  min-height: 250px;
  position: relative;
}
.head .head__title {
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  color: #292929;
}
.head .head__text {
  text-align: center;
  padding-top: 30px;
  color: #292929;
  font-size: 25px;
}
.head .input {
  position: absolute;
  bottom: 0;
  right: 0px;
  padding: 10px;
  background-color: #aca6a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid black;
}
.head .input input {
  background-color: #aca6a6;
  height: 30px;
  font-size: 22px;
}
.head .input img {
  height: 30px;
  padding-right: 10px;
}

@media (max-width: 1200px) {
  .el {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}